#custom input[name="autocompleteField"]  {
    background: url(http://localhost:5001/static/24dp_search.png);
    background-repeat: no-repeat;
    background-position: 5px 7px;
    padding: 0px 35px;
}
